APP_NAME=userControlDashboard
APP_ENV=development
APP_LANGUAGE=en

HTTP_ENABLE=true
HTTP_HOST=0.0.0.0
HTTP_PORT= 3001
HTTP_VERSIONING_ENABLE=true
HTTP_VERSION=1

DEBUGGER_HTTP_WRITE_INTO_FILE=false
DEBUGGER_HTTP_WRITE_INTO_CONSOLE=false
DEBUGGER_SYSTEM_WRITE_INTO_FILE=false
DEBUGGER_SYSTEM_WRITE_INTO_CONSOLE=false

JOB_ENABLE=false

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=user_control_dashboard_db
DATABASE_USER=admin
DATABASE_PASSWORD=password
DATABASE_DEBUG=false
DATABASE_SYNCHRONIZE=true
DATABASE_OPTION=

AUTH_JWT_SUBJECT=userControlDashboardProduction
AUTH_JWT_ISSUER=userControlDashboard
AUTH_JWT_AUDIENCE=https://user-control-dashboard.com

AUTH_JWT_ACCESS_TOKEN_SECRET_KEY=a462e5d05ae19d0abd065fa39f87656547aa52b00ef3603f1d
AUTH_JWT_ACCESS_TOKEN_EXPIRED=1h

AUTH_JWT_REFRESH_TOKEN_SECRET_KEY=58fc8c8649fd3cb60927ef9f396829d565f413b201db2b1417
AUTH_JWT_REFRESH_TOKEN_EXPIRED=3d
AUTH_JWT_REFRESH_TOKEN_NOT_BEFORE_EXPIRATION=0

AUTH_JWT_PAYLOAD_ENCRYPT=true
AUTH_JWT_PAYLOAD_ACCESS_TOKEN_ENCRYPT_KEY=1781832aa9f19e60c889f41deab422558fbe7a6b0291818aa3
AUTH_JWT_PAYLOAD_ACCESS_TOKEN_ENCRYPT_IV=f6d7126cca25c6e3592fd5573023e5f61eb865653e7ced557f
AUTH_JWT_PAYLOAD_REFRESH_TOKEN_ENCRYPT_KEY=d70382963f99e4ff712010f9d281d5fe5675653e737231a78e
AUTH_JWT_PAYLOAD_REFRESH_TOKEN_ENCRYPT_IV=7d7372f72f9f4847b907b7eb9a1e8464b9fd7765e7b29968d5

ADMIN_PASSWORD=adminPassword